*.o
*.lo
*~
.libs

stamp-h1

libtool

*.status

*.log

config.h

Makefile
.deps
.DS_Store
*.xcsettings

*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

shellinaboxdX/TTYinaBOX/en.lproj/Credits.rtf

*.la

shellinaboxd
